/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.layout {
  font-family: sans-serif;
  background-image: url(http://ocw.usu.edu/University_Extension/conversation-on-instructional-design/conversation.jpg); }

.title {
  font-size: 2em;
  display: block;
  padding-left: 45%;
  margin-top: 0.5em;
  color: #E80738;
  text-decoration: underline; }

.chatBox {
  height: 25em;
  width: 30em;
  background-color: white;
  position: absolute;
  z-index: 15;
  top: 25%;
  left: 50%;
  margin: -100px 0 0 -150px;
  border: solid #8AA4ED 5px;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  overflow: scroll;
  text-align: left; }

.chatBox p, .chatRooms p {
  padding-left: 1em;
  text-align: center;
  position: fixed;
  margin-bottom: 1em; }

.text1 li {
  display: inline; }

.chatRooms {
  height: 25em;
  width: 10em;
  background-color: #F0CCD0;
  position: absolute;
  z-index: 15;
  top: 25%;
  left: 38%;
  margin: -100px 0 0 -150px;
  border: solid #8AA4ED 5px;
  text-align: center;
  border-radius: 10px 10px 10px 10px; }

#user {
  padding-top: 32%;
  padding-left: 27%;
  color: #E80738; }

#userCreate, #message {
  height: 2em;
  width: 40em;
  background-color: #CCF0EC;
  border: solid #8AA4ED 2px;
  font-size: 1em; }

#message {
  height: 6em; }

#userSubmit, #getMessages {
  font-size: 1em; }

.messagePost {
  margin-left: 1em;
  text-align: left;
  background-color: blue; }
